services:
  flask:
    image: cpe-anliza-flask:latest # <--- Use the locally loaded image tag
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: mypassword
      DB_NAME: mydb
    depends_on:
      - db

  db:
    # Since postgres:16 is likely already deployed/locally available,
    # keep 'image: postgres:16'
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    # Since dpage/pgadmin4 is likely already deployed/locally available,
    # keep 'image: dpage/pgadmin4'
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata: