#--------------------------------------------------
# JUST START POSTGRES AND PG ADMIN CONTAINER WITHOUT FLASK APP
#---------------------------------------------------
services:
  db:
    image: postgres:16
    environment:
      TZ: Europe/Belgrade
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      TZ: Europe/Belgrade
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_MAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASS}
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata: