{% extends "base.html" %} {% block title %}Izmjeni CPE tip{% endblock %} {% block
content %}
<div class="container py-4">
  <div class="mx-auto shadow-lg p-3" style="max-width: 800px">
    <h2>Izmjeni CPE model</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Ime</label>
        <input type="text" name="name" class="form-control" value="{{ cpe.name }}" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Labela</label>
        <input type="text" name="label" class="form-control" value="{{ cpe.label }}" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Tip</label>
        <select name="type" class="form-control" required>
          <option value="">--Izaberite tip--</option>
          {% for t in types %}
          <option value="{{ t }}" {% if t == cpe.type.value %}selected{% endif %}>{{ t|capitalize }}</option>

          {% endfor %}
        </select>
      </div>
       <div class="mb-3 form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="has_remote" 
            name="has_remote"
            {% if cpe.has_remote %}checked{% endif %}>
          <label class="form-check-label" for="has_remote">
              Ima Daljinski
          </label>
      </div>
       <div class="mb-3 form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="has_adapter" 
            name="has_adapter"
            {% if cpe.has_adapter %}checked{% endif %}>
          <label class="form-check-label" for="has_adapter">
              Ima Adapter
          </label>
      </div>
      <div class="mb-3 form-check">
        <input 
          type="checkbox" 
          class="form-check-input" 
          id="is_active_total" 
          name="is_active_total"
          {% if cpe.is_active_total %}checked{% endif %}>
        <label class="form-check-label" for="is_active_total">
            Aktivan u ukupno
        </label>
      </div>
      <div class="mb-3 form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="is_active_dismantle" 
            name="is_active_dismantle"
            {% if cpe.is_active_dismantle %}checked{% endif %}>
          <label class="form-check-label" for="is_active_dismantle">
              Aktivan u demontaža
          </label>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{{ url_for('admin_cpe_types') }}" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>

{% endblock %}
