{% extends "base.html" %} {% block title %}Add City{% endblock %} {% block
content %}
<div class="container py-4">
  <div class="mx-auto shadow-lg p-3" style="max-width: 800px">
    <h2>Novi unos u inventori CPE stanja</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Tip</label>
        <select name="type" class="form-control" required>
          <option value="">--Izaberite tip--</option>
          {% for t in types %}
          <option value="{{ t }}">{{ t|capitalize }}</option>

          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{{ url_for('admin_cpe_inventory') }}" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>

{% endblock %}
