{% extends "base.html" %} {% block title %}Izmjeni tip demontaže{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="mx-auto shadow-lg p-3" style="max-width: 800px">
    <h2>Izmjeni demontažu</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Kodna oznaka</label>
        <input
          type="text"
          name="code"
          class="form-control"
          value="{{ dismantle.code }}"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Labela</label>
        <input
          type="text"
          name="label"
          class="form-control"
          value="{{ dismantle.label }}"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Grupa</label>
        <input
          type="text"
          name="group_name"
          class="form-control"
          value="{{ dismantle.group_name }}"
          required
        />
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <a
        href="{{ url_for('admin_dismantle_status') }}"
        class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>

{% endblock %}
