{% extends "base.html" %} {% block title %}Add City{% endblock %} {% block
content %}
<div class="container py-4">
  <div class="mx-auto shadow-lg p-3" style="max-width: 800px">
    <h2>Promjena korisnika</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Korisničko ime</label>
        <input
          type="text"
          name="username"
          class="form-control"
          value="{{ user.username }}"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Šifra</label>
        <input
          type="password"
          name="password1"
          class="form-control"
        />
      </div>
       <div class="mb-3">
        <label class="form-label">Ponovi šifru</label>
        <input
          type="password"
          name="password2"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Role</label>
        <select name="role" class="form-control">
          {% for r in roles %}
          <!--Since user.role is an Enum object, you need to compare its .value to the loop variable:-->
          <option value="{{ r }}" {% if user.role.value == r %}selected {% endif%}>
            {{ r|capitalize }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Skladište</label>
        <select name="city_id" class="form-control">
          <option value="">-- Izaberite skladište --</option>
          {% for city in cities %}
          <option value="{{ city.id }}" {% if user.city_id==city.id %}selected{% endif %}>{{ city.name }}</option>

          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{{ url_for('admin_users') }}" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>

{% endblock %}
