{% if chart_data %}
<!--GET CHAR_DATA FROM BACKEND AND PIPE TO JSON-->
<script id="chart-data" type="application/json">
  {{ chart_data | tojson }}
</script>

<script>
  //CONTEXT WILL BE DEFINED IN EACH CHART TEMPLATE SCRIPT
  function buildChartTitle(ctx) {
    let title = "";

    if (ctx?.cpeId) {
      title = `Trend za uređaj: ${ctx.cpeName}`;
    } else if (ctx?.cpeType) {
      title = `Trend za tip CPE opreme: ${ctx.cpeType}`;
    } else if (ctx?.stbId) {
      title += `Trend za uređaj: ${ctx.stbName}`;
    } else if (ctx?.accessName) {
      title += `Trend za pristupnu: ${ctx.accessName}`;
    }else {
      title = ctx.mainTitle;
    }

    if (ctx?.dismantle) {
      title += ` | demontaža: ${ctx.dismantle}`;
    }

    if (ctx?.cityName) {
      title += ` | skladište: ${ctx.cityName}`;
    }

    if (ctx?.weeks) {
      title += ` | poslednjih: ${ctx.weeks} nedelja`;
    }

    if (ctx?.months) {
      title += ` | poslednjih: ${ctx.months} mijeseci`;
    }
    return title;
  }
</script>

<script>
  //Encapsulation: By wrapping the script in an IIFE
  //(the (function() { ... })(); part), you prevent your chart variables
  //from leaking into the global scope and clashing with other scripts
  (function () {
    //GET ABOVE SCRIPT TAG ID, WHICH HOLDS JSON DATA FROM BACKEND
    const dataElement = document.getElementById("chart-data");
    //CANVAS HTML ELEMENT
    const canvasElement = document.getElementById("ctxChart");

    //FROM SELECTOR HTML ELEMNT
    const selectorElement = document.getElementById("chartType");

    // Safety check: only run if the elements exist on this page
    if (!dataElement || !canvasElement) return;

    //PARSE JSON DATA FROM BACKEND
    const chartData = JSON.parse(dataElement.textContent);

    //GET CANVAS HTML ELEMENT
    const ctx = canvasElement.getContext("2d");

    //GET TYPE OF CHART FROM LOCALSTORAGE
    let chartType = localStorage.getItem("chartType") || "line";

    if (selectorElement) selectorElement.value = chartType;

    //window.chartContext IS PASSED INSIDE EACH CHART TEMPLATE
    const chartTitle = buildChartTitle(window.chartContext);

    let chart;

    function createChart(type) {
      if (chart) chart.destroy();

      chart = new Chart(ctx, {
        type: type,
        data: {
          labels: chartData.labels,
          datasets: chartData.datasets.map((dataset) => ({
            ...dataset,
            // line vs bar behavior
            tension: type === "line" ? 0.3 : 0,
            fill: false,
            borderWidth: 2,
            hoverBackgroundColor: "#0b5ed7",
            pointRadius: type === "line" ? 4 : 0,
            borderRadius: type === "bar" ? 5 : 0,
          })),
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: { display: true },
            title: {
              display: true,
              text: chartTitle,
              font: {
                size: 18,
                weight: "bold",
              },
              padding: {
                top: 10,
                bottom: 20,
              },
            },
          },
          scales: {
            y: {  min: chartData.y_min,
                  max: chartData.y_max, 
                  grid: { color: "#f0f0f0" } },
            x: {},
          },
        },
      });
    }

    // initial render
    createChart(chartType);

    // chart type line or bar
    if (selectorElement) {
      // listen for type change
      selectorElement.addEventListener("change", (e) => {
        chartType = e.target.value;
        localStorage.setItem("chartType", chartType);
        createChart(chartType);
      });
    }

    const exportBtn = document.getElementById("exportChart");

    if (exportBtn) {
      exportBtn.addEventListener("click", () => {
        // 1. Make sure the chart exists
        if (!chart) return;

        // 2. Get the filename from the data attribute (or use a default)
        const fileName = exportBtn.getAttribute("data-filename") || "chart.png";

        // 3. Trigger download
        const link = document.createElement("a");
        link.href = chart.toBase64Image();
        link.download = fileName;
        link.click();
      });
    }
  })();
</script>
{% endif %}
