{% extends "base.html" %} 
{% block title %}Grafikoni{% endblock %} 

{% block content %}
 
<div class="container py-2">
  
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{{ url_for('admin.dashboard') }}" 
            class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start">
            <span class="me-2">⬅</span> Natrag
        </a>
        <h2 class="h4 text-secondary mb-0">Trendovi IPTV korisnika</h2>
        <span class="badge bg-primary">Ažurirano: {{ "now"|datetimeformat if datetimeformat else "Danas" }}</span>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body bg-light">
            <form method="get" class="row g-3 align-items-end">
                <div class="col-md-5">
                    <label class="form-label fw-bold">Vremenski period</label>
                    <select name="weeks" class="form-select shadow-sm" onchange="this.form.submit()">
                        <option value="">Sve dostupno</option>
                        {% for w in [5, 10, 20, 50] %}
                        <option value="{{ w }}" {% if w == selected_weeks %}selected{% endif %}>
                            Poslednjih {{ w }} nedelja
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <a href="{{ url_for(request.endpoint) }}" class="btn btn-outline-secondary w-100">
                        Poništi
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-white py-3">
            <h5 class="card-title mb-0">Analitika količine</h5>
            <select id="chartType" class="form-select form-select-sm w-auto">
        <option value="bar" selected>Bar chart</option>
        <option value="line">Line chart</option>
    </select>
        </div>
        <div class="card-body">
            <div style="position: relative; height: 500px;">
                <canvas id="ctxChart"></canvas>
            </div>
        </div>
    </div>
    <button class="btn btn-sm btn-outline-secondary mb-4 mt-4" id="exportChart">
    Export chart (PNG)
    </button>
</div>

<!--GET CHAR_DATA FROM BACKEND AND PIPE TO JSON-->
<script id="chart-data" type="application/json">
    {{ chart_data | tojson }}
</script>

<script>

    //PARSE JSON DATA FROM BACKEND
    const chartData = JSON.parse(document.getElementById("chart-data").textContent);
     //GET CANVAL HTML ELEMENT
    const ctx = document.getElementById("ctxChart").getContext("2d");

    //GET TYPE OF CHART FROM LOCALSTORAGE
    let chartType = localStorage.getItem("chartType") || "bar";
    let chart;

    //SET HTML SELECTOR TO VALUE FROM LOCALSTORAGE
    document.getElementById("chartType").value = chartType;

    
    function createChart(type) {
        if (chart) chart.destroy();

        chart = new Chart(ctx, {
            type: type,
            data: {
                labels: chartData.labels,
                datasets: chartData.datasets.map(dataset=>({
                    ...dataset,
                // line vs bar behavior
                tension: type === "line" ? 0.3 : 0,
                fill: false,
                borderWidth: 2,
                hoverBackgroundColor: '#0b5ed7',
                pointRadius: type === "line" ? 4 : 0,
                borderRadius: type === "bar" ? 5 : 0
                    
                }))
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: { display: true }
                },
                scales: {
                    y: { beginAtZero: true, grid: { color: '#f0f0f0' } },
                    x: {}
                }
            }
        });
    }

    // initial render
    createChart(chartType);

    // listen for type change
    document.getElementById("chartType").addEventListener("change", (e) => {
        chartType = e.target.value;
        localStorage.setItem("chartType", chartType);
        createChart(chartType);
    });
</script>

<script>
  document.getElementById("exportChart").addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = chart.toBase64Image();
    link.download = "stanje_iptv_korisnika.png";
    link.click();
  });
</script>
{% endblock %}
