{% extends "base.html" %} {% block title %}Skladišta{% endblock %}{%
block styles %} {{ super() }}
<style>
  thead {
    position: sticky;
    top: 60px;
    z-index: 1020;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.6);
  }
</style>
{% endblock %} {% block content
%}
<div class=" py-4">
  <div class="d-flex align-items-center justify-content-between">
    <a
      href="{{ url_for('admin.dashboard') }}"
      class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start"
    >
      <span class="me-2">⬅</span> Nazad
    </a>
    <h2>Skladišta i Izvršne Jedinice</h2>
    <div style="width: 95px;" class="d-none d-md-block"></div>
  </div>
  <div class="d-flex justify-content-end align-items-center mb-2">
    {% if ( current_user.role== 'admin') %}
    <a href="{{ url_for('admin.cities_visibility') }}" class="btn btn-warning my-3 mx-3"
      >Podešavanja vidljivosti skladišta i IJ</a>
    <a href="{{ url_for('admin.add_city') }}" class="btn btn-primary my-3"
      >Dodaj Novo Skladište</a>
    {%endif%}
  </div>
  <table class="table table-striped table-bordered shadow-lg">
     <thead class="table-success">
      <tr>
        <th>ID</th>
        <th>Ime</th>
        <th>Organizacija</th>
        <th>Tip Skladišta</th>
        <th style="width: 160px">Akcija</th>
      </tr>
    </thead>
    <tbody>
      {% for city in major_cities %}

      <tr>
        <td>{{ city.id }}</td>
        <td>
          <strong>{{ city.name }}</strong>
        </td>
        <td>{{ city.parent_city.name if city.parent_city else "—" }}</td>
        <td>{{ city.type }}</td>        
        {% if admin_required() %}
        <td>
            <a
              href="{{ url_for('admin.edit_city', id=city.id) }}"
              class="btn btn-warning btn-sm"
              >Edit</a
            >
            <a
              href="{{ url_for('admin.delete_city', id=city.id) }}"
              class="btn btn-danger btn-sm"
              onclick="return confirm('Obrišite skladište?');"
              >Delete</a
            >
        </td>
        {%endif%}
      </tr>
      {% for sub in city.sub_cities %}
        <tr>
          <td>{{ sub.id }}</td>
          <td>&nbsp;&nbsp;&nbsp;↳ {{ sub.name }}</td>
          <td>{{ sub.parent_city.name if sub.parent_city else "—" }}</td>
          <td>{{ sub.type }}</td>     
          {% if admin_required() %}
          <td>
              <a
                href="{{ url_for('admin.edit_city', id=sub.id) }}"
                class="btn btn-warning btn-sm"
                >Edit</a
              >
              <a
                href="{{ url_for('admin.delete_city', id=sub.id) }}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Obrišite skladište?');"
                >Delete</a
              >
          </td>
        {%endif%}
        </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
