{% extends "base.html" %} {% block title %}Edit City{% endblock %} {% block
content %}
<div class="container py-4">
   <div class="mx-auto shadow-lg p-3 bg-light" style="max-width: 800px">
  <h2>Izmjeni skladište</h2>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label class="form-label">Ime skladišta</label>
      <input type="text" name="name" class="form-control" value="{{ city.name }}" required></input>
    </div>
     <div class="mb-3">
      <label class="form-label">Tip skladišta</label>
       <select name="type" class="form-control">
    {% for t in types %}
    <option value="{{ t }}" {% if t == city.type.value %}selected{% endif %}>
        {{ t }}
    </option>
    {% endfor %}
</select>

      
    </div>
      <div class="mb-3 form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="is_active" 
            name="is_active"
            {% if city.is_active %}checked{% endif %}>
          <label class="form-check-label" for="is_active">
              Aktivno
          </label>
      </div>
      <div class="mb-3 form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="include_in_total" 
            name="include_in_total"
            {% if city.include_in_total %}checked{% endif %}>
          <label class="form-check-label" for="include_in_total">
              Uključeno u ukupno 
          </label>
      </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ url_for('admin.cities') }}" class="btn btn-secondary">Cancel</a>
  </form>
  </div>
</div>
{% endblock %}
