{% extends "base.html" %} {% block title %}Cities{% endblock %} {% block content
%}
<div class="container py-4">
  <h2>Skladišta i Izvršne Jedinice</h2>

  <a href="{{ url_for('admin.add_city') }}" class="btn btn-primary my-3"
    >Dodaj Novo Skladište</a
  >

  <table class="table table-striped table-bordered shadow-lg">
    <tr>
      <th>ID</th>
      <th>Ime</th>
      <th>Tip Skladišta</th>
      <th style="width: 160px">Akcija</th>
    </tr>
    {% for city in cities %}
    <tr>
      <td>{{ city.id }}</td>
      <td>{{ city.name }}</td>
      <td>{{ city.type }}</td>
      <td>
        <a
          href="{{ url_for('admin.edit_city', id=city.id) }}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('admin.delete_city', id=city.id) }}"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Delete city?')"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
