{% extends "base.html" %} {% block title %}Add City{% endblock %} {% block
content %}
<div class="container py-4">
  <div class="mx-auto shadow-lg p-3 bg-light" style="max-width: 800px">
    <h2>Dodaj novo skladište</h2>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label class="form-label">Ime skladišta</label>
        <input type="text" name="name" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Tip skladišta</label>
        <select name="type" class="form-control" required>
          {% for t in types %}
          <option value="{{ t }}">{{ t}}</option>

          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <a href="{{ url_for('admin.cities') }}" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>
{% endblock %}
