{% extends "base.html" %} {% block title %}Tipovi CPE opreme{% endblock %} {%
block content %}
<div class="container py-4">
  <h2>Tipovi CPE opreme</h2>
  {% if ( current_user.role== 'admin') %}
  <a href="{{ url_for('admin.add_cpe_type') }}" class="btn btn-primary my-3"
    >Dodaj CPE model</a
  >
  {%endif%} {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <table class="table table-striped table-bordered shadow-lg">
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Labela</th>
      <th>Tip</th>
      <th>Ima daljinski</th>
      <th>Ima adapter</th>
      <th>Aktivan u ukupno</th>
      <th>Aktivan u demontaža</th>
      <th style="width: 160px">Akcije</th>
    </tr>
    {% for cpe in cpes %}
    <tr>
      <td>{{ cpe.id }}</td>
      <td>{{ cpe.name }}</td>
      <td>{{ cpe.label }}</td>
      <td>{{ cpe.type }}</td>
      <td>{{ cpe.has_remote }}</td>
      <td>{{ cpe.has_adapter }}</td>
      <td>{{ cpe.is_visible_in_total }}</td>
      <td>{{ cpe.is_visible_in_dismantle }}</td>
      <td>
        {% if ( current_user.role== 'admin') %}
        <a
          href="{{ url_for('admin.edit_cpe_type', id=cpe.id) }}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('admin.delete_cpe_type', id=cpe.id) }}"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Obriši CPE opremu?');"
          >Delete</a
        >
        {%endif%}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
