{% extends "base.html" %} {% block title %}CPE Analzia | Inventar CPE demontaža{% endblock %} {% block
styles %} {{ super() }}
<style>
  /* Modern table header */
  .table-custom-head th {
    color: #000;
    font-weight: 600;
    vertical-align: middle;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
  }

   .btn-custom-save {
   background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    color: rgb(48, 46, 46)!important;
  }

  .btn-custom-filter{
    background: #4568dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: white;
  }
  .btn-custom-new{
    background-image: linear-gradient(to right, #0099f7, #f11712);
    border: whitesmoke;
  }
 
  .active .page-link {
    background-color: #8ec8f7 !important;
  }

  .modal-content{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

 .table>:not(caption)>*>* {
  background: none;
 }

 .modal-body{
  padding-bottom: 0;
 }

.text-danger{
    --bs-text-opacity: 1;
    color: rgb(233 6 27) !important;
    font-size: 16px;
}
</style>
{% endblock %} {% block content%}
<div class=" py-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
  <a href="{{ url_for('admin.dashboard') }}" class="btn btn-outline-secondary d-inline-flex align-items-center">
    <span class="me-2">⬅</span> Nazad
  </a>
  <h2 class="mb-0">Unosi demontirane CPE opreme</h2>
   <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-primary btn-custom-new" data-bs-toggle="modal" data-bs-target="#upsertModal">
        Novi unos / Ažuriraj
    </button>
 </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
      <nav>
        <ul class="pagination mb-0">
          {% if pagination.has_prev %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, page=pagination.prev_num, sort=sort_by, direction=direction) }}"
              >Previus</a
            >
          </li>
          {% endif %} {% for p in pagination.iter_pages() %} {% if p %}
          <li class="page-item {% if p == pagination.page %}active{% endif %}">
            <a
              class="page-link"
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, page=p, sort=sort_by, direction=direction) }}"
              >{{ p }}</a
            >
          </li>
          {% else%}
          <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif%} {% endfor %} {% if pagination.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, page=pagination.next_num, sort=sort_by, direction=direction) }}"
              >Next</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      <form method="get" class="row g-3 align-items-end">
          <div class="col-auto">
              <label class="form-label mb-1">Sedmica</label>
              <input type="date" name="week_end" class="form-control" value="{{week_end}}">
          </div>
          <div class="col-auto">
              <label class="form-label mb-1">Skladište</label>
              <select name="city_id" class="form-select">
                  <option>Sve</option>
                  {% for city in cities %}
                  <option value="{{city.id}}" {% if city_id == city.id %}selected{% endif %}>{{city.name}}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-auto">
              <button type="submit" class="btn btn-primary btn-custom-filter">Filter</button>
          </div>
      </form>
  </div>
  <div class="table-responsive">
    
    <table class="table table-bordered table-striped table-hover align-middle shadow-lg table-sm">
      <thead class="table-custom-head">
        <tr>
          <td>
            <a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='id', direction='asc' if direction=='desc' else 'desc') }}"
              >Id</a
            >
          </td>
          <th>
            <a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='city_id', direction='asc' if direction=='desc' else 'desc') }}"
              >Skladište</a
            >
          </th>
          <th><a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='cpe_type_id', direction='asc' if direction=='desc' else 'desc') }}"
              >Ime CPE opreme</a></th>
          <th>Količina</th>
          <th>Tip demontaže</th>
          <th> <a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='week_end', direction='asc' if direction=='desc' else 'desc') }}"
              >Sedmica</a></th>
          <th>
            <a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='created_at', direction='asc' if direction=='desc' else 'desc') }}"
              >Kreirano</a
            >
          </th>
          <th>
            <a
              href="{{ url_for('admin.cpe_dismantle', week_end=week_end, city_id=city_id, sort='updated_at', direction='asc' if direction=='desc' else 'desc') }}"
              >Ažurirano</a
            >
          </th>
        </tr>
      </thead>

      <tbody>
        {% for r in records %}
        <tr>
          <td>{{ r.id }}</td>
          <td>{{ r.city.name }}</td>
          <td>{{ r.cpe_type.label }}</td>
          <td>{{r.quantity}}</td>
          <td>{{ r.dismantle_type.label }}</td>
          <td>{{ r.week_end.strftime('%d-%m-%Y') }}</td>
          <td>{{ r.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</td>
          <td>{{ r.updated_at.strftime('%d-%m-%Y %H:%M:%S')}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
