{% extends "base.html" %} {% block title %}Dodaj tip demontaže{% endblock %} {%
block content %}
<div class=" py-4">
  <div class="mx-auto shadow-lg p-3" style="max-width: 800px">
    <h2>Dodaj novu demontažu</h2>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label class="form-label">Kodna oznaka</label>
        <input type="text" name="code" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Labela</label>
        <input type="text" name="label" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Grupa</label>
        <input type="text" name="group_name" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <a
        href="{{ url_for('admin.dismantle_status') }}"
        class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>

{% endblock %}
