{% extends "base.html" %} {% block title %}Inventar ONT opreme{% endblock %} {% block styles
%} {{ super() }}
<style>
  /* Modern table header */
  .table-custom-head th {
    /* background: linear-gradient(145deg, #acd4f7, #8ec8f7); gradient */
    color: #000; /* black text */
    font-weight: 600;
    vertical-align: middle;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
  }

  .btn-custom-save {
   background: linear-gradient(to bottom, #14d120 0%, #1f5222 100%);
    color: white;
  }
  .btn-custom-filter{
    background: #4568dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: white;
  }
  .custom-modal-header {
    background: linear-gradient(to right, #7bc6cc, #be93c5);
  }

  .plus-icon-bg {
    color: white;
    background-color: #0d6efd; /* Bootstrap primary */
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 18px;
  }

  .active .page-link {
    background-color: #8ec8f7 !important;
  }

  /* Custom class for an extra-extra large modal */
  .modal-xxl {
    /* Set the max-width of the entire modal dialog.
       90% of the viewport width is generally a safe large size. */
    --bs-modal-width: 90vw;
    /* The modal-dialog will take up 90% of the screen width */
    max-width: var(--bs-modal-width);
  }

  /* Optional: Ensure the content (modal-content) also respects this width */
  .modal-xxl .modal-content {
    width: 100%;
  }

  .input-cpe-count {
    /* Set a specific maximum width for the small number fields */
    max-width: 80px;
    /* Ensures they don't stretch beyond this point */
    margin: 0 auto;
  }
  .cpe-label-wrap {
    /* Set max width slightly wider than the input (80px) to accommodate text */
    max-width: 90px;
    /* Allows the text to flow to the next line */
    white-space: normal;
    text-align: center;
  }

  /* 1. Emphasize the Horizontal Borders (Top and Bottom of TD/TH) */
  .table-emph-h-border td {
    /* Set the border style for all sides first */
    border: 1px solid #919394;

    /* Override the top/bottom borders to be thicker */
    border-top-width: 3px !important;
    border-bottom-width: 3px !important;
  }
</style>
{% endblock %} {% block content%}
<div class="py-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
  <a href="{{ url_for('admin.dashboard') }}" class="btn btn-outline-secondary d-inline-flex align-items-center">
    <span class="me-2">⬅</span> Nazad
  </a>

  <h2 class="mb-0">Unosi ONT Stanja</h2>

  <div style="width: 95px;" class="d-none d-md-block"></div>
</div>

  <div class="table-responsive mb-0">

     <form id="importForm" method="POST" action="{{ url_for('ont_inventory.import_ont_records_excel') }}" enctype="multipart/form-data" class="row g-3 align-items-end justify-content-end mb-4">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="col-auto">
        <input type="file" name="file" class="form-control" accept=".xlsx" required />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-danger btn-custom-excel">Import Excel</button>
      </div>
    </form>
 
    <div class="d-flex justify-content-between align-items-end mb-3">
      <nav>
        <ul class="pagination mb-0">
          {% if pagination.has_prev %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('admin.ont_inventory', month_end=month_end, city_id=city_id, page=pagination.prev_num, sort=sort_by, direction=direction) }}"
              >Previus</a
            >
          </li>
          {% endif %} {% for p in pagination.iter_pages() %} {% if p %}
          <li class="page-item {% if p == pagination.page %}active{% endif %}">
            <a
              class="page-link"
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, page=p, sort=sort_by, direction=direction) }}"
              >{{ p }}</a
            >
          </li>
          {% else%}
          <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif%} {% endfor %} {% if pagination.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, page=pagination.next_num, sort=sort_by, direction=direction) }}"
              >Next</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      <form method="get" class="row g-3 align-items-end">
          <div class="col-auto">
              <label class="form-label mb-1">Mijesec</label>
              <input type="date" name="month_end" class="form-control" value="{{month_end}}">
          </div>
          <div class="col-auto">
              <label class="form-label mb-1">Skladište</label>
              <select name="city_id" class="form-select">
                  <option>Sve</option>
                  {% for city in cities %}
                  <option value="{{city.id}}" {% if city_id == city.id %}selected{% endif %}>{{city.name}}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-auto">
              <button type="submit" class="btn btn-primary btn-custom-filter">Filter</button>
          </div>
      </form>
    </div>
    <table
      class="table table-bordered table-striped table-hover align-middle shadow-lg table-sm"
    >
      <thead class="table-custom-head">
        <tr>
          <td>
            <a
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, sort='id', direction='asc' if direction=='desc' else 'desc') }}"
              >Id</a
            >
          </td>
          <th>
            <a
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, sort='city_id', direction='asc' if direction=='desc' else 'desc') }}"
              >Skladišta</a
            >
          </th>
          <th>Količina</th>
          <th>
            <a
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, sort='month_end', direction='asc' if direction=='desc' else 'desc') }}"
              >Mjesec</a
            >
          </th>
          <th>
            <a
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, sort='created_at', direction='asc' if direction=='desc' else 'desc') }}"
              >Kreirano</a
            >
          </th>
          <th>
            <a
              href="{{ url_for('admin.ont_inventory',month_end=month_end, city_id=city_id, sort='updated_at', direction='asc' if direction=='desc' else 'desc') }}"
              >Ažurirano</a
            >
          </th>
        </tr>
      </thead>

      <tbody>
        {% for r in records %}
        <tr>
          <td>{{ r.id }}</td>
          <td>{{ r.city.name }}</td>
          <td>
            <form method="post" action="{{ url_for('admin.update_ont_inventory',month_end=month_end, city_id=city_id, id=r.id) }}" class="d-flex justify-content-between align-items-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="number" name="quantity" value="{{r.quantity}}" min=0 class="form-control form-control-sm" style="width: 80px;">
              {% if admin_required() %} <button class="btn btn-sm btn-success btn-custom-save">Save</button> {% endif %}
            </form>
          </td>
          <td>{{ r.month_end.strftime('%d-%m-%Y') }}</td>
          <td>{{ r.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</td>
          <td>{{ r.updated_at.strftime('%d-%m-%Y %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="importResultModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rezultat Importa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="validationAlert" class="alert d-none"></div>
        <table class="table table-sm">
          <thead>
            <tr><th>Segment</th><th>Vrijednost</th></tr>
          </thead>
          <tbody id="resultTableBody"></tbody>
        </table>
        <div class="mt-3">
            <strong>Zbir svih segmenata:</strong> <span id="calcTotal"></span><br>
            <strong>Totalna suma iz Excela:</strong> <span id="excelTotal"></span>
        </div>
      </div>
      <div class="modal-footer row g-3 align-items-end">
        <button type="button" class="btn btn-secondary col-auto" data-bs-dismiss="modal">Odustani</button>
      
        <button type="button" id="confirmInsert" class="btn btn-success col-auto">
            <i class="bi bi-database-fill-add"></i> Potvrdi i Snimi u Bazu
        </button>

        <div class="col-auto">
            <label class="form-label">Za Mijesec</label>
            <input type="date" id="adminDatePicker" name="selected_date" class="form-control" style="width: 180px;" required>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
let currentSegments = []; // Global variable to store parsed data

//----------------------------------------------
//SENDING EXEL FILE FROM FILE PICKER TO BACKEND FOR PARSING AND SHOWING RESULT
//---------------------------------------------

//CHECK IF DOM LOADED
document.addEventListener('DOMContentLoaded', function() {
    const importForm = document.getElementById('importForm');
    
    if (importForm) {
        importForm.addEventListener('submit', async function(e) {
            // This line PREVENTS the redirect to /upload
            e.preventDefault(); 
            
            //1. GET THE FORM
            const formData = new FormData(this);

            //2. SEND CHOOSEN FILE (formData) TO BACKEND (this.action)
            //this.action, is from form:
            //action="{{ url_for('ont_inventory.import_ont_records_excel') }}"
            try {
                const response = await fetch(this.action, {
                    method: 'POST',
                    body: formData,
                    // Note: No 'Content-Type' header here, 
                    // browser sets it automatically for FormData
                });

                if (!response.ok) throw new Error('Server error');

                //3. AWAIT THE RESPONSE
                const data = await response.json();

                //4. GET MODAL ELEMENT FOR DISPLAY SEGMENTS
                const modalElement = document.getElementById('importResultModal');
                const modal = new bootstrap.Modal(modalElement);
                const tableBody = document.getElementById('resultTableBody');
                const alertBox = document.getElementById('validationAlert');

                // 4.1. Clear previous table rows
                tableBody.innerHTML = '';
                
                // 4.2. Map segments to rows
                data.segments.forEach((val, index) => {
                    const row = `<tr><td>Skladište/Segment ${index + 1}</td><td class="text-end">${val}</td></tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });

                // 4.3. Update totals
                document.getElementById('calcTotal').innerText = data.calculated_total;
                document.getElementById('excelTotal').innerText = data.excel_grand_total;

                // 4.4. Update Alert Box color and message
                alertBox.classList.remove('d-none', 'alert-success', 'alert-danger');
                if (data.match) {
                    alertBox.classList.add('alert-success');
                    alertBox.innerText = "Sve vrijednosti se podudaraju sa Totalnom sumom iz excela!";
                } else {
                    alertBox.classList.add('alert-danger');
                    alertBox.innerText = "Pažnja: Izračunati zbir se ne slaže sa Grand Totalom iz fajla!";
                }

                // 5. Finally, show the modal
                modal.show();

                // 6. STORE SEGMENT FOR POSSIBLE SENDING INTO ISERT TO DB ROUTE
                currentSegments = data.segments;

            } catch (error) {
                console.error('Error:', error);
                alert("Došlo je do greške prilikom slanja fajla.");
            }
        });
    }
});

//----------------------------------------
//SENDING PARSED SEGMENT EXSTRACTED FROM EXCEL TO ROUTE FOR INSERTION TO DB
//------------------------------------------

//confirmInsert IS ID OF BUTTON
document.getElementById('confirmInsert').addEventListener('click',async function(){
  if (currentSegments.length === 0) return

  //get the date
  const dateInput=document.getElementById('adminDatePicker');
  const selectedDate=new Date(dateInput.value);

  // 1. Check if date is selected
  if (!dateInput.value) {
        alert("Molimo odaberite datum!");
        return;
    }

  // 2. Logic to VALIDATEif it's the last day of the month
  // We check if the next day is the 1st of the next month
  const nextDay = new Date(selectedDate);
   // Calculate next day by adding 1 day to selected day, 
  nextDay.setDate(selectedDate.getDate() + 1);

  //if it is not 1, selectedDate is not last
  if(nextDay.getDate() !==1){
    alert("Greška: Morate odabrati posljednji dan u mjesecu (npr. 31.01., 28.02., itd.)");
    return;
  }

  // 3. Prepare payload
  const payload={
    segments: currentSegments,
    selected_date: dateInput.value
  }

  try{
    const response=await fetch("{{url_for('admin.save_ont_imported_segments')}}",{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken': "{{csrf_token()}}"
      },
      body: JSON.stringify(payload)
    })

    if(response.ok){
      //alert("Podaci su uspješno sačuvani!");
      location.reload();// Refresh to see updated table
    }else{
      throw new Error('Snimanje nije uspjelo.')
    }
  }
  catch(error){
    alert("Greška: " + error.message);
  }
})
</script>
{% endblock %}
