{% extends "base.html" %} {% block title %}Izvještaj{% endblock %} {% block
styles %} {{ super() }}
<style>

  .pdf-btn{
        background: #eecda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eecda3, #ef629f);
  }

  .save-btn{
      background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4568dc, #b06ab3);
  }
  .recipient-btn{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  
  }
   .send-btn{
    background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43c6ac, #191654); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43c6ac, #191654);
 
  }
</style>
{% endblock %} {% block content%}
<div class="py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
  <a
    href="{{ url_for('admin.dashboard') }}"
    class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start"
  >
    <span class="me-2">⬅</span> Nazad
  </a>
  
    <form id="pdfForm" action="{{ url_for('admin.download_weekly_report') }}" method="GET">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" id="pdfBtn"  class="btn btn-warning pdf-btn">
        <span id="pdfbtnText">Generiši i sačuvaj (.pdf) izvještaj</span>
      </button>
    </form>
  </div>
  <div class="card shadow-sm mb-4">
    <div class="card-body bg-light">
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-check mb-3">
          <input
            type="checkbox"
            name="enabled"
            class="form-check-input"
            {%if settings.enabled%}checked{%endif%}
          />
          <label class="form-check-label">Omogući automatsko slanje sedmičnog izvještaja</label>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Dan slanja</label>
            <select name="send_day" class="form-select">
              <option
                value="1"
                {% if settings.send_day|int==1 %}selected{%endif%}
              >
                Ponedeljak
              </option>
              <option
                value="2"
                {% if settings.send_day|int==2 %}selected{%endif%}
              >
                Utorak
              </option>
              <option
                value="3"
                {% if settings.send_day|int==3 %}selected{%endif%}
              >
                Srijeda
              </option>
              <option
                value="4"
               {% if settings.send_day|int==4 %}selected{%endif%}
              >
                Četvrtak
              </option>
              <option
                value="5"
               {% if settings.send_day|int==5 %}selected{%endif%}
              >
                Petak
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Vrijeme slanja</label>
            <input
              type="time"
              name="send_time"
              class="form-control"
              value="{{ settings.send_time.strftime('%H:%M') }}"
            />
            <small class="text-muted">
              Report will be sent shortly after this time
            </small>
          </div>
          <div class="col-md-4">
            <label>Zadnje poslano</label>
            <input
              class="form-control"
              value="{{ settings.last_sent_at or '-' }}"
              readonly
            />
          </div>
        </div>
        {% if admin_required() %}
        <button class="btn btn-primary save-btn mt-3">Sačuvaj podešavanja</button>
        {%endif%}
      </form>
    </div>
  </div>
  <h5 class="mt-5">Primaoci izvještaja</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Email</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for r in recipients %}
      <tr>
        <td>{{ r.email }}</td>
        <td>{% if r.active %} ✔ {% else %} ✖ {% endif %}</td>
         {% if admin_required() %}
        <td>
           <a
            href="{{ url_for('admin.report_remove_recipient', id=r.id) }}"
            class="btn btn-sm btn-light"
            onclick="return confirm('Obriši email?')"
          >❌</a
        >
        </td>
         {%endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
   {% if admin_required() %}
   <div class="d-flex justify-content-between">
  <button
    class="btn  btn-warning recipient-btn"
    data-bs-toggle="modal"
    data-bs-target="#addRecipientModal"
  >
    + Dodaj primaoca
  </button>

    <form id="reportForm" action="{{ url_for('admin.send_weekly_report') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" id="sendBtn"  class="btn btn-success send-btn">
        <span id="btnText">Pošalji izvještaj ručno</span>
        <span id="btnSpinner" style="display: none;" class="spinner-border spinner-border-sm"></span>
      </button>
    </form>
    </div>
   {%endif%}
</div>

<form method="POST" action="{{ url_for('admin.report_add_recipient') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="modal fade" id="addRecipientModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Dodaj email primaoca</h5>
        </div>
        <div class="modal-body">
          <input type="email" name="email" class="form-control" required />
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Dodaj</button>
        </div>
      </div>
    </div>
  </div>
</form>


<script>

  //Double Click problem for Pošalji izvještaj ručno button
  //It listens for the submit event, disables the button, and provides visual feedback.
  document.getElementById('reportForm').addEventListener('submit', function(e){
    const btn=document.getElementById('sendBtn')
    const btnText = document.getElementById('btnText');
    const spinner = document.getElementById('btnSpinner');

    // Prevent multiple clicks
    btn.disabled=true;

    // Change appearance
    btnText.innerText = "Slanje u toku...";
    spinner.style.display = "inline-block";
  })

   //Double Click problem for: Generiši i sačuvaj (.pdf) izvještaj button
  //We canot use the same logic like sending because donload is GET route
  //The reason the spinner never stops is that when a browser receives 
  //a send_file (a download), it doesn't "change pages."
  document.getElementById('pdfForm').addEventListener('submit', function(e){
    const btn=document.getElementById('pdfBtn')
    const btnText = document.getElementById('pdfbtnText');
   
   // 1. Change the text so they know it's working
    const originalText = btnText.innerText;
    btnText.innerText = "Priprema fajla...";
    btn.classList.add('disabled');

    // 2. Simply reset the button after 5 seconds
    setTimeout(function() {
        btn.classList.remove('disabled');
        btnText.innerText = originalText;
    }, 5000);
  })

</script>
{% endblock %}
