{% extends "base.html" %} {% block title %}STB oprema{% endblock %} {% block content
%}
<div class=" py-4">
  <a href="{{ url_for('admin.dashboard') }}"
            class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start">
            <span class="me-2">⬅</span> Nazad
        </a>
        <div class="d-flex justify-content-between align-items-center mb-2">
  <h2>Tipovi STB opreme</h2>
{% if admin_required() %}
  <a href="{{ url_for('admin.add_stb_type') }}" class="btn btn-primary my-3"
    >Dodaj STB model</a
  >
   {%endif%}
  </div>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <table class="table table-striped table-bordered shadow-lg">
     <thead class="table-success">
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Labela</th>
      <th>Aktivan</th>
      <th style="width: 160px">Akcije</th>
    </tr>
    </thead>
    <tbody>
    {% for stb in stbs %}
    <tr>
      <td>{{ stb.id }}</td>
      <td>{{ stb.name }}</td>
      <td>{{ stb.label }}</td>
      <td>{{ stb.is_active }}</td>
      <td>
        {% if ( current_user.role== 'admin') %}
        <a
          href="{{ url_for('admin.edit_stb_type', id=stb.id) }}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('admin.delete_stb_type', id=stb.id) }}"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Obriši stb?')"
          >Delete</a
        >
        {%endif%}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
