{% extends "base.html" %} {% block title %}CPE Analiza | Korisnici{% endblock %}
{% block
styles %} {{ super() }}
<style>
 .btn-add{
  
  background-image: linear-gradient(to right, #0099f7, #f11712);
 }
 .btn-edit{
  background-image: linear-gradient(to right, #FFD194, #D1913C);
 }
 .btn-delete{
  background-image: linear-gradient(to right, #33001b, #ff0084); 
 }

 .cpe-pill{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: #333;
 }

 .city-pill{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
 }

  .filter{
        background-image: linear-gradient(to right, #5a3f37, #2c7744);
    }
</style>
{% endblock %}

 {% block content%}
<div class=" py-4">
  <div class="d-flex align-items-center justify-content-between">
    <a href="{{ url_for('admin.dashboard') }}"
              class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start">
              <span class="me-2">⬅</span> Nazad
    </a>
    <h2>Korisnici</h2>
    <div class="d-flex justify-content-end align-items-center mb-2">
      {% if ( current_user.role== 'admin') %}
      <a href="{{ url_for('admin.add_user') }}" class="btn btn-primary btn-add my-3"
        >Dodaj korisnika</a>
      {%endif%} 
    </div>
  </div>
   <!-- FILTER CARD -->
    <div class="card shadow-sm bg-light">
        <div class="card-body">
            <form method="GET" action="{{ url_for('admin.users') }}" class="row g-3 align-items-end">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="col-md-2">
                    <label class="form-label">Korisnik</label>
                   <input type="text" name="username" class="form-control" 
                        placeholder="Pretraži..." value="{{ request.args.get('username', '') }}">
                </div>

                <div class="col-md-2">
                    <label class="form-label">Email</label>
                    <select name="email" class="form-select">
                        <option value="">Sve</option>
                        {% for e in emails %}
                        <option value="{{ e }}" {% if pagination_args.get("email") == e %}selected{% endif %}>{{e}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Rola</label>
                    <select name="role" class="form-select">
                        <option value="">Sve</option>
                        {% for r in roles %}
                        <option value="{{ r }}" {% if pagination_args.get("role") == r %}selected{% endif %}>{{ r|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Organizacija</label>
                    <select name="city" class="form-select">
                        <option value="">Sve</option>
                        {% for c in cities %}
                        <option value="{{ c.id }}" {% if pagination_args.get("city") == c.id|string %}selected{% endif %}>{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div>
             
                <div class="col-md-4 d-grid">
                    <button type="submit" class="btn btn-primary filter" >
                        🔍 Filtriraj
                    </button>
                </div>
                <a href="{{ url_for('admin.users') }}" class="btn btn-outline-secondary">
                    Reset
                </a>
            </form>
        </div>
    </div>
 
     <!--PAGINATION -->
    <div class="d-flex justify-content-between align-items-end">
        <nav class="mt-3">
            <ul class="pagination justify-content-start">

                {% if users.has_prev %}
                <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('admin.users',page=users.prev_num,**pagination_args) }}">
                    Previous
                </a>
                </li>
                {% endif %}

                {% for p in users.iter_pages() %}
                {% if p %}
                    <li class="page-item {% if p == users.page %}active{% endif %}">
                    <a class="page-link"
                        href="{{ url_for('admin.users',page=p,**pagination_args) }}">
                        {{ p }}
                    </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <span class="page-link">...</span>
                    </li>
                {% endif %}
                {% endfor %}

                {% if users.has_next %}
                <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('admin.users',page=users.next_num,**pagination_args) }}">
                    Next
                </a>
                </li>
                {% endif %}

            </ul>
        </nav> 
        <div class="mb-2 text-muted">
            Showing {{ users.items|length }} of {{ users.total }} users
        </div>  
    </div>
  <table class="table table-striped table-bordered shadow-lg">
     <thead class="table-success">
    <tr>
      <th>ID</th>
      <th>Korisničko Ime</th>
      <th>Email</th>
      <th>Rola</th>
      <th>Organizacija/e</th>
      <th>Dozvoljena CPE oprema</th>
      <th>Vrijeme notifikacije</th>
      <th style="width: 160px">Akcije</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td> {% if user.email %}{{ user.email }}  {% else %} - {% endif %}</td>
      <td>{{ user.role }}</td>
      <td> 
      {% if user.cities %}
      <div class="d-flex flex-wrap" style="gap: 0.375rem;">
          {% for city in user.cities %}
            <span class="badge bg-info city-pill text-dark me-1" style="flex: 0 0 1; text-align: center;">{{ city.name }}</span>
          {% endfor %}
          </div>
      {% else %}
          <span class="badge bg-info city-pill text-dark me-1">Sva Skladišta</span>
      {% endif %}
      </td>
      <td> 
      {% if user.cpe_types %}
          {% for cpe in user.cpe_types %}
            <span class="badge bg-success cpe-pill me-1">{{ cpe.label }}</span>
          {% endfor %}
      {% else %}
          <span class="badge bg-success cpe-pill me-1">Sva Oprema</span>
      {% endif %}
      </td>
      <td>{% if user.last_notified_at %}{{ user.last_notified_at.strftime('%d-%m-%Y %H:%M:%S')}} {% endif %}</td>
      {% if admin_required() %}
      <td>
        <a
          href="{{ url_for('admin.edit_user', id=user.id) }}"
          class="btn btn-warning btn-edit btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('admin.delete_user', id=user.id) }}"
          class="btn btn-danger btn-delete btn-sm"
          onclick="return confirm('Obriši korisnika?');"
          >Delete</a
        >
      </td>
      {%endif%}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
