{% extends "base.html" %} {% block title %}CPE Analiza | Početna{% endblock %} {% block
styles %} {{ super() }}
<style>
  .toggle-password{
    position:absolute; 
    right:10px; 
    top:30px; 
    cursor:pointer;
  }
</style>
{% endblock %} {% block content%}
<div class="py-2">
<div class="d-flex align-items-center justify-content-between">
    <button onclick="history.back()"
        class="btn btn-outline-secondary w-10-flex align-items-center justify-content-start">
        <span class="me-2">⬅</span> Nazad
    </button>
    <h2>Promjena Lozinke</h2>
    <div style="width: 95px;" class="d-none d-md-block"></div>
  </div>
 <form method="POST" class="my-4">
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="mb-3 position-relative">
    <label>Trenutna Lozinka</label>
    <input type="password" name="current_password" id="current_password"  class="form-control" required>
    <span class="toggle-password" data-target="current_password">👁️</span>
  </div>

  <div class="mb-3 position-relative">
    <label>Nova Lozinka (Minimalno 6 karaktera)</label>
    <input type="password" name="new_password" id="new_password"  class="form-control" required>
    <span class="toggle-password" data-target="new_password">👁️</span>
  </div>

  <div class="mb-3 position-relative">
    <label>Potvrdi Novu Lozinku</label>
    <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
    <span class="toggle-password" data-target="confirm_password">👁️</span>
  </div>
  {% if not view_required() %}
  <button type="submit" class="btn btn-primary">Snimi Promjenu</button>
  {% endif %}
</form>
  
</div>

<script>
document.querySelectorAll(".toggle-password").forEach(el => {
  el.addEventListener("click", () => {
    const input = document.getElementById(el.dataset.target);
    input.type = input.type === "password" ? "text" : "password";
  });
});
</script>
{% endblock %}

