{% extends "base.html" %} {% block title %}CPE-ANALIZA{% endblock %} {% block
styles %} {{ super() }}
<style>


.grid-container {
  width: min(75rem, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
 
}
.card {
  padding: 2rem 2.5rem;
   background-image: linear-gradient(to bottom left, #f4f6f7, #fafdff);
  border-radius: 2rem;
  gap: 1.5rem;
  height:270px;
  display: grid;
  grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #444447;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 
    inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / .25) ;
  
  .title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to right, #814b89, #468388);
      background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
    
  }
  .icon {
    grid-area: icon;
    font-size: 3rem;
    
  }
  .content {
    grid-area: content;
    & > *:first-child { margin-top: 0rem}
    & > *:last-child { margin-bottom: 0rem}
  }
  &::after {
    content: "";
    grid-area: bar;
    height: 6px;
    background: linear-gradient(to right, #be93c5, #7bc6cc);
/*     margin-inline: -1.5rem; */
  }
}

.card:hover{
box-shadow: 
    inset -1px 1px hsl(0 0 100% / 1),
    -5px 5px 10px hsl(0 0 0 / .15) ;
}

 /* Title */
  .title_main {
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
  }

  .title_main:before {
  width: 28px;
  height: 6px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background: linear-gradient(to right, #be93c5, #7bc6cc);;
}

.title_main:after {
  width: 400px;
  height: 2px;
  display: block;
  content: "";
  position: relative;
  margin-top: 15px;
  left: 50%;
  margin-left: -200px;
  background: linear-gradient(to right, #be93c5, #7bc6cc);;
}
 .dashboard-link {
    text-decoration: none;
  }
.custom-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

</style>
{% endblock %} {% block content%}
<div class=" py-2">
<h2 class="text-center mb-4 title_main">
     Analitika i trendovi
  </h2>
<div class="grid-container">
<a
            href="{{ url_for('charts.cpe_inventory_charts') }}"
            class="dashboard-link"
          >
  <div class="card">
    <div class="title">CPE oprema - Skladišta I IJ</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene stanja CPE opreme po skladištima i IJ na sedmičnom nivou</p>
    </div>
  </div>
  </a>

   <a
            href="{{ url_for('charts.cpe_dismantle_inventory_charts') }}"
            class="dashboard-link"
          >
  <div class="card">
    <div class="title">Demontirana CPE oprema - IJ</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene stanja demontirane CPE opreme po IJ</p>
    </div>
  </div>
  </a>

  <a
            href="{{ url_for('charts.cpe_broken_inventory_charts') }}"
            class="dashboard-link"
          >
  <div class="card">
    <div class="title">Neispravna CPE oprema - IJ</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene stanja neispravne CPE opreme po IJ</p>
    </div>
  </div>
  </a>

  <a
            href="{{ url_for('charts.stb_inventory_charts') }}"
            class="dashboard-link"
          >
  <div class="card">
    <div class="title">STB uređaji - IPTV platforma</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene stanja STB opreme na IPTV platformi</p>
    </div>
  </div>
  </a>
  <a
            href="{{ url_for('charts.iptv_inventory_charts') }}"
            class="dashboard-link"
          >
  <div class="card">
    <div class="title">IPTV korisnici - IPTV platforma</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene broja IPTV korisnika na IPTV platformi</p>
    </div>
  </div>
  </a>
   <a
            href="{{ url_for('charts.ont_inventory_charts') }}"
            class="dashboard-link"
          >
   <div class="card">
    <div class="title">GPON/XDSL korisnici -pristupna mreža</div>
    <div class="icon"><img
                  src="{{ url_for('static', filename='charts.png') }}"
                  alt="Icon"
                  class="card-icon custom-icon"
                /></div>
    <div class="content">
      <p>Pregled promjene stanja korisnika na FTTH pristupnoj mreži. Mjesečni nivo.</p>
    </div>
  </div>
   </a>
</div>
</div>
{% endblock %}
