{% extends "base.html" %} {% block title %}CPE-ANALIZA{% endblock %} {% block
styles %} {{ super() }}
<style>


.grid-container {
  width: min(75rem, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
 
}
.card {
  padding: 2rem 2.5rem;
   background-image: linear-gradient(to bottom left, #f4f6f7, #fafdff);
  border-radius: 2rem;
  gap: 1.5rem;
  height:270px;
  display: grid;
  grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #444447;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 
    inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / .25) ;
  
  .title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to right, #814b89, #468388);
      background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
    
  }
  .icon {
    grid-area: icon;
    font-size: 3rem;
    
  }
  .content {
    grid-area: content;
    & > *:first-child { margin-top: 0rem}
    & > *:last-child { margin-bottom: 0rem}
  }
  &::after {
    content: "";
    grid-area: bar;
    height: 6px;
    background: linear-gradient(to right, #be93c5, #7bc6cc);
/*     margin-inline: -1.5rem; */
  }
}

.card:hover{
box-shadow: 
    inset -1px 1px hsl(0 0 100% / 1),
    -5px 5px 10px hsl(0 0 0 / .15) ;
}

 /* Title */
  .title_main {
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
  }

  .title_main:before {
  width: 28px;
  height: 6px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background: linear-gradient(to right, #be93c5, #7bc6cc);;
}

.title_main:after {
  width: 400px;
  height: 2px;
  display: block;
  content: "";
  position: relative;
  margin-top: 15px;
  left: 50%;
  margin-left: -200px;
  background: linear-gradient(to right, #be93c5, #7bc6cc);;
}
 .dashboard-link {
    text-decoration: none;
  }
.custom-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

</style>
{% endblock %} {% block content%}
<div class=" py-2">
<h2 class="text-center mb-4 title_main">
     Aplikacija stanja korisničke opreme
  </h2>
<div class="grid-container">
<a href="{{ url_for('cpe_inventory.cpe_records') }}" class="dashboard-link">
  <div class="card">
    <div class="title">Stanje raspoložive CPE opreme</div>
    <div class="icon"> <img
              src="{{ url_for('static', filename='cpe.png') }}"
              alt="Icon"
              class="card-icon custom-icon"
            /></div>
    <div class="content">
      <p>Pregled i upravljanje ukupnim stanjem CPE opreme po skladištima i IJ</p>
    </div>
  </div>
  </a>
      <a href="{{ url_for('cpe_dismantle_inventory.cpe_dismantle_records') }}" class="dashboard-link">
  <div class="card">
    <div class="title">Stanje demontirane CPE opreme</div>
    <div class="icon"><img
              src="{{ url_for('static', filename='cpe-dismantle.png') }}"
              alt="Icon"
              class="card-icon custom-icon"
            /></div>
    <div class="content">
      <p>Pregled i upravljanje ukupnim stanjem demontirane CPE opreme po IJ</p>
    </div>
  </div>
  </a>
  <a href="{{ url_for('stb_inventory.stb_iptv_records')  }}" class="dashboard-link">
  <div class="card">
    <div class="title">Stanje STB uređaja - IPTV platforma</div>
    <div class="icon"><img
              src="{{ url_for('static', filename='smart-tv.png') }}"
              alt="Icon"
              class="card-icon custom-icon"
            /></div>
    <div class="content">
      <p>Pregled i upravljanje ukupnim stanjem STB opreme i broja IPTV korisnika</p>
    </div>
  </div>
  </a>
   <a href="{{ url_for('ont_inventory.ont_records') }}" class="dashboard-link">
  <div class="card">
    <div class="title">Stanje ONT uređaja - GPON mreža</div>
    <div class="icon"><img
              src="{{ url_for('static', filename='ont.png') }}"
              alt="Icon"
              class="card-icon custom-icon"
            /></div>
    <div class="content">
      <p>Pregled u upravljanje ukupnim stanjem ONT uređaja u radu - Mjesečno stanje</p>
    </div>
  </div>
  </a>
  <a href="{{ url_for('charts.chart_home') }}" class="dashboard-link">
   <div class="card">
    <div class="title">Analitika i trendovi</div>
    <div class="icon"> <img
            src="{{ url_for('static', filename='analysis.png') }}"
            alt="Analytics"
            class="custom-icon mb-2"
          /></div>
    <div class="content">
      <p>Pregled kretanja stanja ukupne i pojedinačne opreme po sedmicama i po skladištima</p>
    </div>
  </div>
   </a>
</div>
</div>
{% endblock %}
