{% extends "base.html" %} {% block title %}CPE-ANALIZA{% endblock %} {% block
styles %} {{ super() }}
<style>
  .title {
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
  }

  .title:before {
    width: 28px;
    height: 6px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background: linear-gradient(to right, #be93c5, #7bc6cc);
  }

  .title:after {
    width: 400px;
    height: 2px;
    display: block;
    content: "";
    position: relative;
    margin-top: 15px;
    left: 50%;
    margin-left: -200px;
    background: linear-gradient(to right, #be93c5, #7bc6cc);
  }
  .info {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);

  }

  .btn-custom-save {
    background: linear-gradient(to right, #be93c5, #7bc6cc);
    color: whitesmoke;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  .btn-custom-stb-add {
    background: linear-gradient(to right, #be93c5, #7bc6cc);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .btn-custom-excel{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  }

  .custom-modal-header {
    background: linear-gradient(to right, #7bc6cc, #be93c5);
  }

  .d-flex.mb-2 {
    display: flex;
    align-items: center; /* Vertically centers label and input in the row */
    margin-bottom: 10px;
  }

  /* The Label Wrapper */
  .cpe-label-wrap {
    flex: 0 0 150px; /* Does not grow, does not shrink, stays 150px wide */
    max-width: 150px; /* Ensures it doesn't expand */
    margin-right: 15px; /* Space between label and input */
    word-wrap: break-word; /* Prevents long text from breaking layout */
  }

  /* The Input Field */
  .input-cpe-count {
    flex: 1; /* Allows input to fill the remaining horizontal space */
    max-width: 200px; /* Optional: Prevents inputs from getting too wide */
  }
</style>
{% endblock %} {% block content%}
<div class="py-2">
  <h2 class="mb-4 text-center title">
    Broj ONT uređaja u radu - Mjesečno stanje
  </h2>
  <div class="d-flex justify-content-between align-items-end">
  {% if ftth_required() %}
  <button
    type="button"
    title="Ažuritajte posljednje stanje ONT opreme"
    data-bs-toggle="modal"
    data-bs-target="#ontEditModal"
    class="btn btn-custom-stb-add"
     id="target-section"
  >
    + Dodaj / Izmjeni Mjesečni Unos
  </button>
{% endif %}
  <!--EVERY RECORD SHOULD HAVE SAME last_updated-->
  <span class="info">
    Posljedne ažurirano: {% if records %}
    {{records[0]['last_updated'].strftime('%d-%m-%Y %H:%M')}} {% endif %}
  </span>
</div>
  <table class="table table-bordered table-striped shadow mb-4">
    <thead class="table-primary">
      <tr>
        <th>Izvršna jedinica</th>
        {% for month in months %}
        <th>{{ month.label}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for r in records%}
      <tr class="{% if r.is_total %}table-success fw-bold{% endif %}">
        <td>{{r.name}}</td>
        {% for month in months %}
        <td>{{r['dates'][month.key]['quantity']}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
   
  <a
      class="btn btn-sm btn-outline-secondary mb-2"
      href="{{ url_for('ont_inventory.export_ont_records_excel')}}"
    >
      Export Excel
    </a>
    {% if ftth_required() %}
  <form id="importForm" method="POST"  action="{{ url_for('ont_inventory.import_ont_records_excel') }}" enctype="multipart/form-data" class="row g-3 align-items-end">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
     <div class="col-auto">
        <input type="file" name="file" class="form-control" accept=".xlsx" required />    
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-danger btn-custom-excel">Import Excel</button>
    </div>
    {% endif %}
</form>
</div>
</div>

<div class="modal fade" id="ontEditModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form
        method="POST"
        action="{{url_for('ont_inventory.update_ont_inventory')}}"
      >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="modal-header custom-modal-header">
          <h4 class="modal-title">
            Dodaj novo stanje za: {{ previous_month_end }}
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          {% for r in records %} {% if not r.is_total %}
          <div class="d-flex mb-2">
            <div class="cpe-label-wrap">{{r.name}}</div>
            <input
              class="form-control input-cpe-count"
              name="{{ r.id }}"
              type="number"
              value="{{ r['dates'][months[-1].key]['quantity']}}"
              min="0"
            />
          </div>
          {% endif %} {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-save">
            <span class="text-white fw-bold fs-4">
              <svg
                fill="#ffffff"
                height="20px"
                width="20px"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 512 512"
                xml:space="preserve"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <g>
                        <path
                          d="M128,170.667h256c4.719,0,8.533-3.823,8.533-8.533V42.667c0-4.71-3.814-8.533-8.533-8.533 c-4.719,0-8.533,3.823-8.533,8.533V153.6H136.533V17.067h110.933c4.719,0,8.533-3.823,8.533-8.533S252.186,0,247.467,0H128 c-4.719,0-8.533,3.823-8.533,8.533v153.6C119.467,166.844,123.281,170.667,128,170.667z"
                        ></path>
                        <path
                          d="M384,494.933H42.667c-14.114,0-25.6-11.486-25.6-25.6V42.667c0-14.114,11.486-25.6,25.6-25.6h51.2 c4.719,0,8.533-3.823,8.533-8.533S98.586,0,93.867,0h-51.2C19.14,0,0,19.14,0,42.667v426.667C0,492.86,19.14,512,42.667,512H384 c4.719,0,8.533-3.823,8.533-8.533S388.719,494.933,384,494.933z"
                        ></path>
                        <path
                          d="M509.5,87.834L424.166,2.5c-1.596-1.604-3.763-2.5-6.033-2.5h-68.975c-4.719,0-8.533,3.823-8.533,8.533 c0,1.203,0.256,2.338,0.708,3.379v107.554h-51.2v-102.4h25.6c4.719,0,8.533-3.823,8.533-8.533S320.452,0,315.733,0H281.6 c-4.719,0-8.533,3.823-8.533,8.533V128c0,4.71,3.814,8.533,8.533,8.533h68.267c4.719,0,8.533-3.823,8.533-8.533V17.067h56.201 l80.333,80.333v371.934c0,14.114-11.486,25.6-25.6,25.6h-42.667V281.6c0-4.71-3.814-8.533-8.533-8.533H93.867 c-4.719,0-8.533,3.823-8.533,8.533v187.733c0,4.71,3.814,8.533,8.533,8.533c4.719,0,8.533-3.823,8.533-8.533v-179.2h307.2 v213.333c0,4.71,3.814,8.533,8.533,8.533h51.2C492.86,512,512,492.86,512,469.333V93.867C512,91.605,511.104,89.429,509.5,87.834 z"
                        ></path>
                        <path
                          d="M179.2,426.667h153.6c4.719,0,8.533-3.823,8.533-8.533s-3.814-8.533-8.533-8.533H179.2c-4.719,0-8.533,3.823-8.533,8.533 S174.481,426.667,179.2,426.667z"
                        ></path>
                        <path
                          d="M179.2,375.467h153.6c4.719,0,8.533-3.823,8.533-8.533s-3.814-8.533-8.533-8.533H179.2c-4.719,0-8.533,3.823-8.533,8.533 S174.481,375.467,179.2,375.467z"
                        ></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </span>
            Sačuvaj
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="importResultModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rezultat Importa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="validationAlert" class="alert d-none"></div>
        <table class="table table-sm">
          <thead>
            <tr><th>Segment</th><th>Vrijednost</th></tr>
          </thead>
          <tbody id="resultTableBody"></tbody>
        </table>
        <div class="mt-3">
            <strong>Zbir svih segmenata:</strong> <span id="calcTotal"></span><br>
            <strong>Totalna suma iz Excela:</strong> <span id="excelTotal"></span>
        </div>
      </div>
      <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
    <button type="button" id="confirmInsert" class="btn btn-success">
        <i class="bi bi-database-fill-add"></i> Potvrdi i Snimi u Bazu
    </button>
</div>
    </div>

  </div>
</div>

<script>
//AUTOMATIC SCROLL TO HTML TABLE
    window.onload = function() {
        // Delay execution by 500 milliseconds
        setTimeout(function() {
            const element = document.getElementById("target-section");
            if (element) {
                element.scrollIntoView({ 
                    behavior: "smooth", 
                    block: "start" 
                });
            }
        }, 800); 
    };
</script>

<script>
let currentSegments = []; // Global variable to store parsed data

//SENDING EXEL FILE FROM FILE PICKER TO BACKEND PARSING AND SHOWING RESULT
document.addEventListener('DOMContentLoaded', function() {
    const importForm = document.getElementById('importForm');
    
    if (importForm) {
        importForm.addEventListener('submit', async function(e) {
            // This line PREVENTS the redirect to /upload
            e.preventDefault(); 
            
            //1. GET THE FORM
            const formData = new FormData(this);
            const modalElement = document.getElementById('importResultModal');
            const modal = new bootstrap.Modal(modalElement);
            const tableBody = document.getElementById('resultTableBody');
            const alertBox = document.getElementById('validationAlert');

            //2. SEND CHOOSEN FILE (formData) TO BACKEND (this.action)
            //this.action, is from form:
            //action="{{ url_for('ont_inventory.import_ont_records_excel') }}"
            try {
                const response = await fetch(this.action, {
                    method: 'POST',
                    body: formData,
                    // Note: No 'Content-Type' header here, 
                    // browser sets it automatically for FormData
                });

                if (!response.ok) throw new Error('Server error');

                //3. AWAIT THE RESPONSE
                const data = await response.json();

                // 4.1. Clear previous table rows
                tableBody.innerHTML = '';
                
                // 4.2. Map segments to rows
                data.segments.forEach((val, index) => {
                    const row = `<tr><td>Skladište/Segment ${index + 1}</td><td class="text-end">${val}</td></tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });

                // 4.3. Update totals
                document.getElementById('calcTotal').innerText = data.calculated_total;
                document.getElementById('excelTotal').innerText = data.excel_grand_total;

                // 4.4. Update Alert Box color and message
                alertBox.classList.remove('d-none', 'alert-success', 'alert-danger');
                if (data.match) {
                    alertBox.classList.add('alert-success');
                    alertBox.innerText = "Sve vrijednosti se podudaraju sa Totalnom sumom iz excela!";
                } else {
                    alertBox.classList.add('alert-danger');
                    alertBox.innerText = "Pažnja: Izračunati zbir se ne slaže sa Grand Totalom iz fajla!";
                }

                // 5. Finally, show the modal
                modal.show();

                // 6. STORE SEGMENT FOR POSSIBLE SENDING INTO ISERT TO DB ROUTE
                currentSegments = data.segments;

            } catch (error) {
                console.error('Error:', error);
                alert("Došlo je do greške prilikom slanja fajla.");
            }
        });
    }
});

//SENDING PARSED SEGMENT EXSTRACTED FROM EXCEL TO ROUTE FOR INSERTION TO DB
document.getElementById('confirmInsert').addEventListener('click',async function(){
  if (currentSegments.length === 0) return

  try{
    const response=await fetch("{{url_for('ont_inventory.save_imported_segments')}}",{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken': "{{csrf_token()}}"
      },
      body: JSON.stringify({segments: currentSegments})
    })

    if(response.ok){
      //alert("Podaci su uspješno sačuvani!");
      location.reload();// Refresh to see updated table
    }else{
      throw new Error('Snimanje nije uspjelo.')
    }
  }
  catch(error){
    alert("Greška: " + error.message);
  }
})
</script>
{% endblock %}
